<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chengziweather.hoperun">
                    <!--添加访问网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
        <!--在manifest中配置LitePalApplication，在android:icon="@mipmap/weather_mip"更改应用图标-->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weather_mip"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.WeatherActivity" />

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>